<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

	<bean id="springTddPool" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="springTddPool" />
		<property name="dataSourceClassName" value="${jdbc.spirngtdd.datasource}" />
		<property name="dataSourceProperties">
			<props>
				<prop key="url">${jdbc.spirngtdd.url}</prop>
				<prop key="user">${jdbc.spirngtdd.username}</prop>
				<prop key="password">${jdbc.spirngtdd.password}</prop>
			</props>
		</property>
	</bean>

	<bean id="springTddPoolDataSource" class="com.zaxxer.hikari.HikariDataSource"
		primary="true" destroy-method="close">
		<constructor-arg ref="springTddPool" />
	</bean>

	<bean id="springTddSessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="springTddPoolDataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
				<prop key="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>main.java.spring.tdd.dao.model.User</value>
			</list>
		</property>
	</bean>

	<bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="springTddSessionFactory"></property>
		<property name="dataSource" ref="springTddPoolDataSource"></property>
	</bean>

	<tx:annotation-driven transaction-manager="hibernateTransactionManager" />


	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />




</beans>